{% extends 'base.html' %}

{% block title %} Withdraw {% endblock %}
{% block extracss%}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}

{% block content %}
<nav>
    <a href="/dashboard/{{username}}">Home</a>
    <a href="/logout">Logout</a>
</nav>

<h1>Withdraw Cash</h1>

<form method="post">
    <label for="amount">Enter the amount to withdraw (₹): </label>
    <input type="number" name="amount" placeholder="e.g. 500, 1000, 2000" min="1" step="1" required autofocus>

    <input type="submit" value="Withdraw">
</form>

{% if info %}
<h3>{{info}}</h3>
{% endif %}

{% endblock %}